<html>
    <head>
        <meta charset="UTF-8">
        <title>Anomaly Detection Server</title>
    </head>
    <body>
        <h1>Anomaly Detection Server</h1>
        <br>
        <form action="/detect" method="POST" enctype="multipart/form-data" name="files" target="result">
            <table>
                <tr>
                    <td>Algorythm Type:</td>
                    <td>
                        <select name="algorythms" id="algo_type">
                            <option value="regressive">Recursive</option>
                            <option value="hybrid">Hybrid</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Upload Proper File:</td>
                    <td>
                        <input type="file" name="good_file">
                    </td>
                </tr>
                <tr>
                    <td>Upload File to Detect:</td>
                    <td>
                        <input type="file" name="bad_file">
                    </td>
                </tr>
            </table>
            <br>
            <input type="submit" value="Upload">
        </form>
        <br>
        <iframe name="result" width="80%" height="500"></iframe> 
    </body>
</html>